<div *ngIf="!isDataAvailable">
    <app-loading [strictLoading]="!isDataAvailable">
    </app-loading>
</div>
<div style="width: 100vw;height: 100vh;" *ngIf="!isDataAvailable"></div>
<div *ngIf="isDataAvailable" class="topset">
    <div fxHide fxShow.gt-xs fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start start" style="
    margin: 15px;
    min-width: 950px;
    padding-top: 5px;">
        <app-product-item (ProductEvent)="OnProductChange($event)" (RemoveEvent)="OnProductRemove($event)"
            style="width: 70%;" [productList]="productList" [CartPage]="true"></app-product-item>

        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="font-size: 1.2rem; padding: 5px; border: #e4e4e4 thin solid;background-color: white;border-radius: 4px;width: 30%;min-width: 280px;">
            
            <div style="width: 85%;padding: 18px;" fxLayout="column" fxLayoutGap="10px"
                fxLayoutAlign="end center">
                <div *ngIf="notExist" style="color: red;text-align: center;">{{notExistMesseage}}</div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <div *ngIf="totalPrice>0" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
                        <h2 style="color: #ef394e;">قیمت نهایی</h2>
                        <h2 style="color: #ef394e;font-size: 30px;">{{totalPrice | number}}</h2>
                        <h2 style="color: #ef394e;">تومان</h2>
                    </div>
                    <div *ngIf="totalPrice<=0">
                        <h2 style="color: #ef394e;font-size: 30px;white-space: nowrap;">سبد خرید شما خالی است</h2>
                    </div>
                </div>
            </div>
            <div style="width: 85%;padding: 18px;" *ngIf="totalPrice>0">
                <button style="width: 100%;
                                background: #ef394e;
                                border: none;
                                color: white;
                                padding: inherit;
                                font-size: 1.2rem;
                                border-radius: 7px;
                                outline: none;
                                cursor: pointer;" (click)="endProccess()">ادامه فرآیند
                    خرید</button>
            </div>
            <div style="width: 85%;padding: 18px;" *ngIf="totalPrice<=0">
                <button style="width: 100%;
                                background: gray;
                                border: none;
                                color: white;
                                padding: inherit;
                                font-size: 1.2rem;
                                border-radius: 7px;
                                outline: none;
                                cursor: not-allowed;">ادامه فرآیند
                    خرید</button>
            </div>
        </div>

    </div>


</div>

<!-- Mobile view -->
<div *ngIf="isDataAvailable" fxHide.gt-xs style="margin: 15px; display: flow-root;">
    <app-product-item [productList]="productList" [CartPage]="true" [MobileView]="true"
        (ProductEvent)="OnProductChange($event)" (RemoveEvent)="OnProductRemove($event)"></app-product-item>

    <div fxLayout="column" fxLayoutAlign="start center"
        style="font-size: 1.2rem; border: #e4e4e4 thin solid;background-color: #f8f6f6;border-radius: 4px;width: 100%;">
        <div style="width: 85%;padding: 18px;" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end center">
            <div *ngIf="notExist" style="color: red;text-align: center;">{{notExistMesseage}}</div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <div *ngIf="totalPrice>0" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <h2 style="color: #ef394e;">قیمت نهایی</h2>
                    <h2 style="color: #ef394e;font-size: 30px;">{{totalPrice | number}}</h2>
                    <h2 style="color: #ef394e;">تومان</h2>
                </div>
                <div *ngIf="totalPrice<=0">
                    <h2 style="color: #ef394e;font-size: 30px;white-space: nowrap;">سبد خرید شما خالی است</h2>
                </div>
            </div>
        </div>
        <div style="width: 85%;padding: 18px;" *ngIf="totalPrice>0">
            <button style="width: 100%;
                            background: #ef394e;
                            border: none;
                            color: white;
                            padding: inherit;
                            font-size: 1.2rem;
                            border-radius: 7px;
                            outline: none;
                            cursor: pointer;" 
                            (click)="endProccess()">ادامه فرآیند
                خرید</button>
        </div>
        <div style="width: 85%;padding: 18px;" *ngIf="totalPrice<=0">
            <button style="width: 100%;
                            background: gray;
                            border: none;
                            color: white;
                            padding: inherit;
                            font-size: 1.2rem;
                            border-radius: 7px;
                            outline: none;
                            cursor: not-allowed;">ادامه فرآیند
                خرید</button>
        </div>
    </div>

</div>