$width: 100%;

.specilaOffer {
  color: red;
  border-bottom: red solid thin;
  width: 100%;
  padding: 3px;
}

.discountDecoration {
  text-decoration: line-through;
  font-size: 16px;
}

.discount {
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 16px;
}
.rLink {
  width: 100%;
}

.rLink:link {
  color: gray;
}

.rLink:visited {
  color: gray;
}

.rLink:hover {
  color: black;
}

.rLink:active {
  color: gray;
}

.rLink:link {
  text-decoration: none;
}

.rLink:visited {
  text-decoration: none;
}

.rLink:hover {
  text-decoration: none;
}

.rLink:active {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

@media all and (min-width: 1337px) {
  .container::after {
    content: "";
    flex: 1 1 calc(#{$width / 4+4%});
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 260px;
    margin: 1px;
  }
}
@media all and (max-width: 1337px) {
  .container::after {
    content: "";
    flex: 1 1 calc(#{$width / 3+4%});
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 260px;
    margin: 1px;
  }
}

.sectionProduct {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background: white;
  height: 400px;
  min-width: 260px;
  margin: 1px;
  z-index: 0;
}

.sectionProduct:hover {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background: white;
  height: 400px;
  min-width: 260px;
  transition: transform 300ms ease;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.31);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 1px;
  z-index: 2;
}

.extraParameter {
  display: none;
}

.sectionProduct:hover .extraParameter {
  display: initial;
  border-top: lightgrey solid thin;
  padding: 5px;
  width: 100%;
}

.sectionProduct > p {
  flex-grow: 1;
}

.sectionNewProduct {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  border: thin solid #00000047;
  padding: 25px;
  background: whitesmoke;
  border-radius: 5px;
  height: 280px;
}

.sectionNewProduct > p {
  flex-grow: 1;
}
