$width: 100%;

.specilaOffer {
  color: red;
  border-bottom: red solid thin;
  width: 100%;
  padding: 3px;
  height: 26px;
}

.discountDecoration {
  text-decoration: line-through;
  font-size: 16px;
}

.discount {
  color: white;
  background-color: red;
  padding: 5px;
  font-size: 16px;
}

.rLink {
  width: 30%;
  white-space: nowrap;
}

.rLink:link {
  color: gray;
}

.rLink:visited {
  color: gray;
}

.rLink:hover {
  color: black;
}

.rLink:active {
  color: gray;
}

.rLink:link {
  text-decoration: none;
}

.rLink:visited {
  text-decoration: none;
}

.rLink:hover {
  text-decoration: none;
}

.rLink:active {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
}

.containerNewProduct {
  display: flex;
  list-style: none;
  padding: 0px;
}

.sectionProduct {
  flex: 1 0 20.333%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background: white;
  height: 400px;
  max-width: 20.82%;
  margin: 1px;
  z-index: 0;
}

.sectionProduct:hover {
  flex: 1 0 20.333%;
  display: flex;
  flex-direction: column;
  padding: 2%;
  background: white;
  height: 400px;
  max-width: 20.82%;
  transition: transform 300ms ease;
  box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.31);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  margin: 1px;
  z-index: 2;
}

.sectionProduct:hover .extraParameter {
  display: initial;
  border-top: lightgrey solid thin;
  padding-right: 5px;
  width: 100%;
  margin-top: -15px;
}

.sectionCartProduct {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  background: white;
  min-width: 99%;
  z-index: 0;
  margin: 0.5px;
  border: #e4e4e4 thin solid;
  border-radius: 4px;
}

@media (min-width: 0px) and (max-width: 600px) {
  .container {
    display: inherit;
    flex-wrap: wrap;
    list-style: none;

  }

  .sectionProduct {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    height: 400px;
    max-width: 100%;
    margin: 1px;
    z-index: 0;
  }
  
  .sectionProduct:hover {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    height: 400px;
    max-width: 100%;
    transition: transform 300ms ease;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.31);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 1px;
    z-index: 2;
  }

  .sectionCartProduct {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    background: white;
    max-width: 100%;
    margin: 1px;
    z-index: 0;
    margin: 0.5px;
    border: #e4e4e4 thin solid;
    border-radius: 4px;
    padding: 2%;
    min-width: 95%;
    margin-bottom: 8px;
  }
  
}

@media (min-width: 600px) and (max-width: 809px) {
  .sectionProduct {
    flex: 1 0 45.333%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    height: 400px;
    max-width: 45.8%;
    margin: 1px;
    z-index: 0;
  }
  
  .sectionProduct:hover {
    flex: 1 0 45.333%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    height: 400px;
    max-width: 45.8%;
    transition: transform 300ms ease;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.31);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 1px;
    z-index: 2;
  }
  
  .sectionCartProduct {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 99%;
    z-index: 0;
    margin: 0.5px;
    border: #e4e4e4 thin solid;
    border-radius: 4px;
  }
}

@media (min-width: 809px) and (max-width: 990px) {
  .sectionProduct {
    flex: 1 0 28.333%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    height: 400px;
    max-width: 29.1%;
    margin: 1px;
    z-index: 0;
  }
  
  .sectionProduct:hover {
    flex: 1 0 28.333%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    background: white;
    height: 400px;
    max-width: 29.1%;
    transition: transform 300ms ease;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.31);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    margin: 1px;
    z-index: 2;
  }

  .sectionCartProduct {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    background: white;
    min-width: 99%;
    z-index: 0;
    margin: 0.5px;
    border: #e4e4e4 thin solid;
    border-radius: 4px;
  }
  
}

.sectionProduct > p {
  flex-grow: 1;
}



.extraParameter {
  display: none;
}

.sectionCartProduct:hover .extraParameter {
  display: initial;
  border-top: lightgrey solid thin;
  padding: 5px;
  width: 100%;
}

.sectionCartProduct > p {
  flex-grow: 1;
}

.sectionNewProduct {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2px;
  padding: 25px;
  background: whitesmoke;
  height: 280px;
}

.sectionNewProduct > p {
  flex-grow: 1;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 2px solid #ddd;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  text-align: inherit;
  outline:none;
  -webkit-appearance: none;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  max-width: 5rem;
  padding: .5rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 2rem;
  height: 3rem;
  font-weight: bold;
  text-align: center;
}