.container {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.sectionProduct {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  border: thin solid #00000047;
  padding: 25px;
  background: whitesmoke;
  border-radius: 5px;
  height: 280px;
  max-width: 150px;
  min-width: 150px;
}

.sectionProduct > p {
  flex-grow: 1;
}

.sectionNewProduct {
  flex: 1 1 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  border: thin solid #00000047;
  padding: 25px;
  background: whitesmoke;
  border-radius: 5px;
  height: 280px;
}

.sectionNewProduct > p {
  flex-grow: 1;
}


@media only screen and (max-width: 600px) {
  .sectionProduct {
    flex: 1 1 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border: thin solid #00000047;
    padding: 25px;
    background: whitesmoke;
    border-radius: 5px;
    height: 280px;
    max-width: 80vw;
    min-width: 80vw;
  }
}