<ul class="container" *ngIf="PrdouctPage === true">
    <li class="sectionProduct" *ngFor="let product of productList; index as i;">
        <div *ngIf="product.SpecialOffer" fxLayout="row" fxLayoutAlign="center center" class="specilaOffer">
            <div>
                فروش ویژه
            </div>
        </div>
        <div *ngIf="!product.SpecialOffer" fxLayout="row" fxLayoutAlign="center center"
            style="border-bottom: none;height: 25px;" class="specilaOffer">
            <div>
                &nbsp;
            </div>
        </div>
        <a class="rLink" routerLink="/productview/{{product._id}}" style="width: 100%;">
            <div title="{{product.Name}}" style="background-image: url({{product.ImagePath[0]}});
            width: 100%;height: 190px;
            background-position: center;
            background-repeat: no-repeat;"></div>
            <h2 style="margin: 0;">{{product.Name}}</h2>
        </a>
        <div>
            {{product.Sepcification}}
        </div>
        <div fxLayout="row" fxLayoutGap="30px" fxLayoutAlign="center center">
            <div *ngIf="product.Quantity > 0" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                موجود
                <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
            </div>
            <div *ngIf="product.Quantity <= 0" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                ناموجود
                <mat-icon style="color: #f82c25;">check_box_outline_blank</mat-icon>
            </div>
            <div style="direction: ltr;">
                <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
            </div>
        </div>
        <div>
            <div *ngIf="product.Size && product.Size.length > 0">
                <div fxLayout="row" fxLayoutAlign="start center" style="white-space: nowrap;overflow: hidden;">
                    سایزها : &nbsp;
                    <div *ngFor="let size of product.Size; index as i;">
                        <div
                            style="padding: 1px; background-color: rgb(194, 194, 194);margin-left: 2px;margin-right: 2px;">
                            {{size.sizeName}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="product.AdditinalInfos && !product.Size">
                <div fxLayout="row" fxLayoutAlign="start center" style="white-space: nowrap;overflow: hidden;">
                    ویژگی ها : &nbsp;
                    <div *ngFor="let info of product.AdditinalInfos; index as i;">
                        <div
                            style="padding: 1px; background-color: rgb(194, 194, 194);margin-left: 2px;margin-right: 2px;">
                            {{info.value}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="product.AdditinalInfos && product.Size && product.Size.length <= 0">
                <div fxLayout="row" fxLayoutAlign="start center" style="white-space: nowrap;overflow: hidden;">
                    ویژگی ها : &nbsp;
                    <div *ngFor="let info of product.AdditinalInfos; index as i;">
                        <div
                            style="padding: 1px; background-color: rgb(194, 194, 194);margin-left: 2px;margin-right: 2px;">
                            {{info.value}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="product.Sale" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
            <div class="discountDecoration">
                {{product.DiscountPrice}}
            </div>
            <div class="discount">
                {{product.DiscountPercent}}%
            </div>
        </div>
        <div *ngIf="!product.Sale" style="height: 30px;" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
            <div>
                &nbsp;
            </div>
            <div class="discount" style="background-color: transparent;">
                &nbsp;
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center">
            <h2>{{product.Price | number}} تومان</h2>
        </div>
        <!-- <div fxLayout="row" fxLayoutAlign="center center">
            <div class="extraParameter">
                
                
            </div>
        </div> -->
    </li>

</ul>

<div class="container" *ngIf="CartPage === true && MobileView === false">
    <section class="sectionCartProduct" *ngFor="let product of productList; index as i;">
        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" style="margin: 12px;"
            [ngStyle]="product.Quantity===0?{'filter': 'blur(3px)'} : {'filter': 'none'}">
            <a class="rLink" routerLink="/productview/{{product._id}}" fxLayout="column" fxLayoutGap="10px"
                fxLayoutAlign="center start">
                <div title="{{product.Name}}" style="background-image: url({{product.ImagePath[0]}});
                width: 100%;
                height: 190px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;"></div>
            </a>
            <div fxLayout="row" style="width: 30%;" fxLayoutAlign="start center">
                <div fxLayout="column" style="margin-right: 30px;" fxLayoutGap="10px" fxLayoutAlign="start start">
                    <a class="rLink" routerLink="/productview/{{product._id}}">
                        <h2>{{product.Name}}&nbsp;{{product.selectedSizeName}}</h2>
                    </a>
                    <div *ngIf="ConfirmCartView" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <div style="direction: ltr;">
                            <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
                        </div>
                    </div>
                    <div *ngIf="!ConfirmCartView">
                        <div *ngIf="product.Quantity > 0" fxLayout="row" fxLayoutGap="10px"
                            fxLayoutAlign="start center">
                            موجود
                            <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
                        </div>
                        <div *ngIf="product.Quantity <= 0" fxLayout="row" fxLayoutGap="10px"
                            fxLayoutAlign="start center">
                            ناموجود
                            <mat-icon style="color: #f82c25;">check_box_outline_blank</mat-icon>
                        </div>
                        <div style="direction: ltr;">
                            <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
                        </div>
                    </div>
                    <div *ngIf="!product.notExist" style="color: white;">.</div>
                    <div *ngIf="product.notExist" style="color: red;">موجودی به تعداد انتخاب شده در انبار نیست</div>
                    <div class="number-input">
                        <button (click)="stepUp(product)" class="plus"></button>
                        <input class="quantity" min="1" name="quantity" value="{{product.Count}}" type="number">
                        <button (click)="stepDown(product)"></button>
                    </div>

                </div>
            </div>

            <div *ngIf="!ConfirmCartView" fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="center end"
                style="width: 35%;">
                <div fxLayoutGap="2px" fxLayout="row" fxLayoutAlign="start center"
                    style="color: #a4a5a7;font-size: 10px;cursor: pointer;margin-top: 10px;"
                    (click)="removeItem(product)">
                    <div>
                        حذف
                    </div>
                    <div>
                        <mat-icon style="cursor: pointer;">remove_shopping_cart
                        </mat-icon>
                    </div>
                </div>
                <div *ngIf="product.Sale" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
                    <div class="discountDecoration">
                        {{product.DiscountPrice}}
                    </div>
                    <div class="discount">
                        {{product.DiscountPercent}}%
                    </div>
                </div>
                <div *ngIf="!product.Sale" style="height: 30px;" fxLayout="row" fxLayoutGap="10px"
                    fxLayoutAlign="end center">
                    <div>
                        &nbsp;
                    </div>
                    <div class="discount" style="background-color: transparent;">
                        &nbsp;
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <div>{{product.Price | number}}</div>
                    <div>تومان</div>
                </div>
            </div>

        </div>


    </section>

</div>

<!-- CartPage Mobile view -->
<ul class="container" *ngIf="CartPage === true && MobileView === true">
    <li class="sectionCartProduct" *ngFor="let product of productList; index as i;">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center"
            [ngStyle]="product.Quantity===0?{'filter': 'blur(3px)'} : {'filter': 'none'}">
            <div title="{{product.Name}}" style="background-image: url({{product.ImagePath[0]}});
                width: 100%;
                height: 190px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;"></div>
            <a class="rLink" style="width: 100%;" routerLink="/productview/{{product._id}}" fxLayout="column"
                fxLayoutGap="10px" fxLayoutAlign="center center">
                <h2>{{product.Name}}&nbsp;{{product.selectedSizeName}}</h2>
            </a>
            <div fxLayout="column" fxLayoutAlign="center center">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <div *ngIf="ConfirmCartView" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                        <div style="direction: ltr;min-width: 89vw;">
                            <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
                        </div>
                    </div>
                    <div *ngIf="!ConfirmCartView && product.Quantity > 0" fxLayout="row" fxLayoutGap="10px"
                        fxLayoutAlign="center center">
                        موجود
                        <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
                    </div>
                    <div *ngIf="!ConfirmCartView && product.Quantity <= 0" fxLayout="row" fxLayoutGap="10px"
                        fxLayoutAlign="center center">
                        ناموجود
                        <mat-icon style="color: #f82c25;">check_box_outline_blank</mat-icon>
                    </div>
                    <div style="direction: ltr;">
                        <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
                    </div>
                </div>
                <div *ngIf="!product.notExist" style="color: white;">.</div>
                <div *ngIf="product.notExist" style="color: red;">موجودی به تعداد انتخاب شده در انبار نیست</div>
                <div *ngIf="!ConfirmCartView" class="number-input">
                    <div class="number-input">
                        <button (click)="stepUp(product)" class="plus"></button>
                        <input class="quantity" min="1" name="quantity" value="{{product.Count}}" type="number">
                        <button (click)="stepDown(product)"></button>
                    </div>
                </div>
                <div *ngIf="!ConfirmCartView" fxLayoutGap="2px" fxLayout="row" fxLayoutAlign="center center"
                    style="color: #a4a5a7;font-size: 10px;cursor: pointer;margin-top: 10px;cursor: pointer;"
                    (click)="removeItem(product)">
                    <div>
                        حذف
                    </div>
                    <div>
                        <mat-icon style="cursor: pointer;">remove_shopping_cart
                        </mat-icon>
                    </div>
                </div>

            </div>
            <div *ngIf="!ConfirmCartView" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center"
                style="width: 36%;">

                <div *ngIf="product.Sale" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
                    <div class="discountDecoration">
                        {{product.DiscountPrice}}
                    </div>
                    <div class="discount">
                        {{product.DiscountPercent}}%
                    </div>
                </div>
                <div *ngIf="!product.Sale" style="height: 30px;" fxLayout="row" fxLayoutGap="10px"
                    fxLayoutAlign="end center">
                    <div>
                        &nbsp;
                    </div>
                    <div class="discount" style="background-color: transparent;">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <div style="font-size: 20px">{{product.Price | number}} تومان</div>
            </div>
        </div>
    </li>
</ul>

<div *ngIf="PrdouctPage === false">
    <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let product of productList; index as i;">
            <ng-template carouselSlide>
                <section class="sectionNewProduct">
                    <div *ngIf="product.SpecialOffer" fxLayout="row" fxLayoutAlign="center center" class="specilaOffer">
                        <div>
                            فروش ویژه
                        </div>
                    </div>
                    <div *ngIf="!product.SpecialOffer" fxLayout="row" fxLayoutAlign="center center"
                        style="border-bottom: none;height: 25px;" class="specilaOffer">
                        <div>
                            &nbsp;
                        </div>
                    </div>
                    <a class="rLink" routerLink="/productview/{{product._id}}" style="width: 100%;">
                        <div title="{{product.Name}}" style="background-image: url({{product.ImagePath[0]}});
                        width: 100%;height: 190px;
                        background-position: center;
                        background-repeat: no-repeat;"></div>
                        <h2 style="margin: 0;">{{product.Name}}</h2>
                    </a>
                    <div *ngIf="product.Sale" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">
                        <div class="discountDecoration">
                            {{product.DiscountPrice}}
                        </div>
                        <div class="discount">
                            {{product.DiscountPercent}}%
                        </div>
                    </div>
                    <p>{{product.Price | number}}</p>
                </section>
            </ng-template>
        </ng-container>
    </owl-carousel-o>

</div>