.active{
    padding: 10px;
    font-size: 24px;
    background: #8d9bff;
    color: white;
    border-radius: 9px;
    width: 15px;
    height: 16px;
    line-height: 12px;
    cursor: pointer;
}

.pageElement{
    padding: 10px;
    font-size: 24px;
    width: 15px;
    height: 16px;
    line-height: 12px;
    cursor: pointer;
}