<div *ngIf="!isDataAvailable">
    <app-loading [strictLoading]="!isDataAvailable">
    </app-loading>
</div>
<div *ngIf="isDataAvailable" class="mainContainer">
    <app-navigation-bar [product]="product"></app-navigation-bar>
    <div class="secondContainer">
        <app-sort-bar></app-sort-bar>
        <app-product-item [productList]="productList" [PrdouctPage]="true"></app-product-item>
        <app-paging [pageCount]="totalPage" (pageNumber)="onPageNumber($event)"></app-paging>
    </div>
</div>