<div class="sectionَAddress" *ngIf="ShowView">
    <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()" class="saveAddress">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center end">
                <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start start">
                    <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center">
                        <button type="submit" style="cursor: pointer;" [disabled]="!editForm.valid">
                            <mat-icon>add</mat-icon>
                            <div>اضافه/ویرایش آدرس</div>
                        </button>
                    </div>

                    <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center">
                        <button style="cursor: pointer;" id="closeButton">
                            <mat-icon style="cursor: pointer;">cancel</mat-icon>
                            <div>لغو</div>
                        </button>
                    </div>
                </div>
            </div>

            <mat-form-field class="example-full-width" style="width: 70%;">
                <textarea matInput formControlName="address" placeholder="آدرس پستی (فقط تهران)" autocomplete="off" required></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width: 70%;">
                <mat-label>تلفن همراه</mat-label>
                <input type="number" matInput formControlName="mobilePhone" placeholder="مثال 9120000000" autocomplete="off" required />
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width: 70%;">
                <input type="number" matInput formControlName="postalCode" placeholder="کد پستی" autocomplete="off" required />
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width: 70%;">
                <input matInput formControlName="deliverTo" placeholder="تحویل گیرنده" autocomplete="off" required />
            </mat-form-field>
        </div>
    </form>
</div>

<div class="container" style="--content-after: {{contentAfterWidth}};" *ngIf="!ShowView">
    <section class="sectionَAddress" *ngFor="let address of addressList; index as i;">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <div *ngIf="!ProfileView === true" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start"
                style="border-bottom: lightgray solid thin;width: 100%;padding: 10px;">
                <input (click)="selectAddressCheck(i)" (change)="changed(i, $event)" id="{{i}}" type="checkbox"  style="cursor: pointer;" name="{{i}}" [(ngModel)]="address.isCurrent" [checked]="address.isCurrent" />
                    <label  style="cursor: pointer;" for="{{i}}">
                        ارسال به این آدرس
                    </label>
            </div>
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end start">
                <p class="address">
                    {{address.address}}
                </p>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center"
                    style="font-size: 16px;color: gray;">
                    <mat-icon style="color: lightskyblue;margin-top: 8px;transform: scale(0.8);">email</mat-icon>
                    <div>{{address.postalCode}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <mat-icon style="color: lightskyblue;margin-top: 8px;transform: scale(0.8);">phone</mat-icon>
                    <div>{{address.mobilePhone}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <mat-icon style="color: lightskyblue;margin-top: 8px;transform: scale(0.8);">person_outline
                    </mat-icon>
                    <div>{{address.deliverTo}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="1px" fxLayoutAlign="start end">
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" style="color: lightskyblue;">
                        <div (click)="deleteAddress(i)" style="cursor: pointer;">حذف</div>
                        <div>|</div>
                        <div (click)="showViewToggle(i)" style="cursor: pointer;">ویرایش</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sectionَAddress">
        <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="space-around center"
            style="padding: 30px;cursor: pointer;" (click)="newAddress()">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <mat-icon style="margin-top: 8px;transform: scale(2);">add_circle_outline</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div style="margin-top: 8px;transform: scale(2);;">آدرس جدید</div>
            </div>
        </div>
    </section>

</div>

<!-- CartPage Mobile view -->