<div class="sectionَAddress" *ngIf="ShowView">
    <form [formGroup]="editForm" (ngSubmit)="onEditSubmit()">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center end">
                <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start start">
                    <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center">
                        <button type="submit">
                            <mat-icon style="cursor: pointer;">save</mat-icon>
                            <div>ذخیره تغییرات آدرس</div>
                        </button>
                    </div>

                    <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="center center">
                        <button>
                            <mat-icon style="cursor: pointer;">close</mat-icon>
                            <div>بستن</div>
                        </button>
                    </div>
                </div>
            </div>

            <mat-form-field class="example-full-width" style="width: 60vw;">
                <mat-label>آدرس پستی</mat-label>
                <textarea matInput formControlName="address" autocomplete="off"></textarea>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <mat-label>تلفن همراه</mat-label>
                <input matInput formControlName="mobilePhone" autocomplete="off" />
            </mat-form-field>

            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start">
                <mat-form-field class="example-full-width">
                    <mat-label>کد پستی</mat-label>
                    <input matInput formControlName="postalCode" autocomplete="off" />
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <mat-label>تحویل گیرنده</mat-label>
                    <input matInput formControlName="deliverTo" autocomplete="off" />
                </mat-form-field>
            </div>
        </div>
    </form>
</div>

<div class="container" *ngIf="!ShowView">
    <section class="sectionَAddress" *ngFor="let address of addressList; index as i;">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <div *ngIf="!ProfileView === true" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start"
                style="border-bottom: lightgray solid thin;width: 100%;padding: 10px;">
                <input type="radio" name="checkAddress" style="cursor: pointer;" />
                <div>
                    ارسال به این آدرس
                </div>
            </div>
            <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="end start">
                <h2 style="height: 112px;">
                    {{address.address}}
                </h2>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center"
                    style="font-size: 16px;color: gray;">
                    <mat-icon style="color: lightskyblue;margin-top: 8px;transform: scale(0.8);">email</mat-icon>
                    <div>{{address.postalCode}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <mat-icon style="color: lightskyblue;margin-top: 8px;transform: scale(0.8);">phone</mat-icon>
                    <div>{{address.mobilePhone}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <mat-icon style="color: lightskyblue;margin-top: 8px;transform: scale(0.8);">person_outline
                    </mat-icon>
                    <div>{{address.deliverTo}}</div>
                </div>
                <div fxLayout="row" fxLayoutGap="1px" fxLayoutAlign="start end">
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center" style="color: lightskyblue;">
                        <div>حذف</div>
                        <div>|</div>
                        <div (click)="showViewToggle(i)" style="cursor: pointer;">ویرایش</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="sectionَAddress">
        <div fxLayout="column" fxLayoutGap="40px" fxLayoutAlign="space-around center" style="padding: 30px;cursor: pointer;">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <mat-icon style="margin-top: 8px;transform: scale(2);">add_circle_outline</mat-icon>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div style="margin-top: 8px;transform: scale(2);;">آدرس جدید</div>
            </div>
        </div>
    </section>

</div>

<!-- CartPage Mobile view -->