<div  fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;direction: ltr;">
    <div fxLayout="column" fxLayoutAlign="start center" class="container">
        <div>
            <img [src]="'assets/logo/logo.png'" />
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="font-size: 18px;">
            ثبت‌نام
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="color: red;">
            {{errorObject.Message}}
        </div>
        <br/>
        <form [formGroup]="form" (ngSubmit)="register()">
            <div style="direction: rtl;">
                <mat-form-field>
                    <input type="text" matInput placeholder="نام و نام خانوادگی" formControlName="name" autocomplete="off" autofocus>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field style="text-align: left">
                    <mat-label>نام کاربری (E-Mail)</mat-label>
                    <input type="text" matInput placeholder="مثال sample@gmail.com" formControlName="email" autocomplete="off">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field style="text-align: left">
                    <mat-label>تلفن همراه</mat-label>
                    <input type="number" matInput placeholder="مثال 09120000000" formControlName="phone" autocomplete="off">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field style="text-align: left">
                    <input type="password" matInput placeholder="کلمه عبور" formControlName="password" required minlength="6"
                    [errorStateMatcher]="matcher">
                    <mat-error *ngIf="form.hasError('passLength')">
                        حداقل تعدا کارکترهای کلمه عبور باید 6 عدد باشد
                    </mat-error> 
                </mat-form-field>
            </div>

            <div>
                <mat-form-field style="text-align: left">
                    <input type="password" matInput placeholder="تکرار کلمه عبور" formControlName="confirmPass"
                    [errorStateMatcher]="matcher">
                    <mat-error *ngIf="form.hasError('notSame')">
                        تکرار کلمه عبور اشتباه است
                    </mat-error>  
                </mat-form-field>
            </div>

            <br/>
            <div>
                <button class="button" type="submit" mat-button>ثبت نام</button>
            </div>

        </form>

    </div>
</div>