@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.green.scss';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@import '~ngx-bar-rating/themes/br-default-theme';
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";

.ag-theme-alpine {
    @include ag-theme-alpine();
}

$custom-typography: mat-typography-config($font-family: '"yekan", sans-serif;');
@include mat-core($custom-typography);

html, body{
    margin: 0;
}
html, body { height: 100%; }
body { margin: 0; font-family: yekan, "Helvetica Neue", sans-serif; }
input, select, textarea, button{font-family:inherit;}
@font-face {

    font-family: "yekan";
    
    src: url(assets/font/Yekan.eot);
    
    src: url(assets/font/Yekan.eot?#iefix) format("embedded-opentype"), url(assets/font/Yekan.woff) format("woff"), url(assets/font/Yekan.ttf) format("truetype"), url(assets/font/Yekan.svg#BYekan) format("svg");
    
    font-weight: normal;
    
    font-style: normal
}

.topset{
    margin-top: 80px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 12px;
}

@media only screen and (max-width: 600px) {
    .topset{
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 10px;
        margin-left: 0px;
        padding: 12px;
    }
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}