<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;direction: ltr;">
    <div fxLayout="column" fxLayoutAlign="start center" class="container">
        <div>
            <img [src]="'assets/logo/logo.png'" />
        </div>
        
        <div fxLayout="row" fxLayoutAlign="start center" style="font-size: 18px;">
            ورود / ثبت‌نام
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="color: red;">
            {{errorObject.Message}}
        </div>
        <br/>
        <form [formGroup]="form" (ngSubmit)="login()">
            <div>
                <mat-form-field style="text-align: left">
                    <mat-label>نام کاربری (E-Mail)</mat-label>
                    <input type="text"  matInput placeholder="مثال sample@gmail.com"  formControlName="username" autocomplete="off" autofocus >
                </mat-form-field>
            </div>

            <div>
                <mat-form-field style="text-align: left">
                    <input type="password" matInput placeholder="کلمه عبور" formControlName="password">
                </mat-form-field>
            </div>

            <br/>
            <div>
                <button class="button" type="submit" mat-button>ورود</button>
            </div>

        </form>

        <div style="width: 100%;margin-top: 2px;">
            <a routerLink="/register" >
                <button class="button" style="background-color: #ef394e;" mat-button>ثبت نام</button>
            </a>
        </div>

    </div>
</div>