<app-loading>
</app-loading>

<div *ngIf="showHeader" style="overflow:hidden;">
  <div *ngIf="showMenu" style="background: aliceblue;">
    <div fxHide.gt-xs fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
      style="padding: 10px;background-color: aliceblue;">
      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxLayout="row" fxLayoutAlign="start center">

          <button mat-icon-button (click)="snav.toggle();">
            <mat-icon style="color: gray;font-size: 29px;">menu</mat-icon>
            <div style="font-size: 12px;color: gray;margin-bottom: 10px;">{{userName}}</div>
          </button>

        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">

        <div fxLayout="column" fxLayoutAlign="end start">
          <img [src]="'assets/logo/logo.png'" />
        </div>

      </div>

    </div>

    <div fxHide.gt-xs fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
      style="padding: 10px;background-color: aliceblue;margin-top: 14px;">

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a routerLink="/login">
            <button *ngIf="!currentUser"
              style="background-color: transparent;border:none ;outline: none;cursor: pointer;">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="color: gray;margin-top: 1px;">person_outline</mat-icon>
              </div>
            </button>
          </a>

          <div *ngIf="currentUser" class="dropdown">
            <button id="account" (click)="toggleButton()"
              style=" outline: none; background-color: transparent;border:none;cursor: pointer;">
              <div id="account" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon id="account" style="color: gray;margin-top: 1px;">person_outline</mat-icon>
              </div>
            </button>
            <div [ngClass]="(showDropdownMenu==false)?'dropdown-content':'show'" class="dropdown-content">
              <a routerLink="/profile" style="border-bottom: #80808038 solid thin;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  پروفایل
                  <mat-icon style="color: gray;">person_pin</mat-icon>
                </div>
              </a>
              <a routerLink="/" (click)="logout()">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  خروج
                  <mat-icon style="color: gray;">power_settings_new</mat-icon>
                </div>
              </a>
            </div>
          </div>
          <div *ngIf="ConfirmCartBasket" (mouseover)="showCart=true" (mouseleave)="cartMouseLeave()">
            <mat-icon style="color: gray;" matBadge="{{cartItems}}" matBadgeColor="warn">
              local_grocery_store</mat-icon>
            <app-cart (OrderEvent)="onOrder()" *ngIf="showCart && cartItems > 0" style="position: absolute;z-index: 999999999999999;
            margin-top: 24px;
            margin-right: -28px;">

            </app-cart>
          </div>

        </div>
      </div>

    </div>

    <div fxHide fxShow.gt-xs fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
      [ngClass]="{'topMenuRibbonScroll': scrollPosition,'topMenuRibbon': scrollPosition === false }">

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">

        <div fxLayout="row" fxLayoutAlign="end center">
          <img [src]="'assets/logo/logo.png'" />
        </div>
      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a routerLink="/login">
            <button *ngIf="!currentUser" style="background-color: transparent;padding: 10px;border-radius: 1px;margin-left: 10px;
          margin-right: 10px;border: solid thin gray;color: gray;outline: none;cursor: pointer;">
              <div fxLayout="row" fxLayoutAlign="center center">
                حساب کاربری
                <mat-icon>person_outline</mat-icon>
              </div>
            </button>
          </a>

          <div *ngIf="currentUser" class="dropdown">
            <button id="account" (click)="toggleButton()" style="background-color: transparent;padding: 10px;border-radius: 1px;margin-left: 10px;
          margin-right: 10px;border: solid thin gray;color: gray;outline: none;cursor: pointer;">
              <div id="account" fxLayout="row" fxLayoutAlign="center center">
                حساب کاربری
                <mat-icon id="account">person_outline</mat-icon>
              </div>
            </button>
            <div [ngClass]="(showDropdownMenu==false)?'dropdown-content':'show'" class="dropdown-content">
              <a routerLink="/profile" style="border-bottom: #80808038 solid thin;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  پروفایل
                  <mat-icon style="color: gray;">person_pin</mat-icon>
                </div>
              </a>
              <a routerLink="/home" (click)="logout()">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  خروج
                  <mat-icon style="color: gray;">power_settings_new</mat-icon>
                </div>
              </a>
            </div>
          </div>
          <div *ngIf="ConfirmCartBasket" style="font-size: 30px;padding: 14px; color: gray;">|</div>
          <div *ngIf="ConfirmCartBasket" (mouseover)="showCart=true" (mouseleave)="cartMouseLeave()" style="width: 30px;height: auto;">
            <mat-icon style="color: gray;direction: ltr;cursor: pointer;width: 40px;
            height: 28px;
            margin-right: -16px;" matBadge="{{cartItems}}" matBadgeColor="warn">
              local_grocery_store
            </mat-icon>
            <app-cart *ngIf="showCart && cartItems > 0" style="position: absolute;z-index: 999999999999999;
            margin-top: 24px;margin-right: -40px;width: 300px;margin-right: -300px;" (OrderEvent)="onOrder()">
            </app-cart>
          </div>
        </div>
      </div>

    </div>
    <div fxHide fxShow.gt-xs style="color: gray;margin-right: 14px;height: 20px;">{{userName}}</div>

    <div style="padding: 10px;">
      <app-search-bar></app-search-bar>
    </div>

    <div>
      <div fxHide fxShow.gt-xs style="padding: 10px;padding-bottom: 24px;background-color: aliceblue;border-top: lightgray solid thin;"
        [ngClass]="{'showMenu': scrollPosition,'topMenu': scrollPosition === false }">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div fxFlex="50% 0 50%">
            <a routerLink="/home">
              <img [src]="''" style="width: 100%; height: auto;">
            </a>
          </div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxHide.xs>
          <div fxLayout fxLayoutGap="20px">
            <nav id="primary_nav_wrap">
              <ul>
                <li class="current-menu-item"><a routerLink="/home">
                    <div fxLayout="row" fxLayoutAlign="center center">
                      صفحه اصلی
                      <mat-icon style="color: gray;">home</mat-icon>
                    </div>
                  </a></li>
                <li *ngFor="let menuItem of menuItems; index as i;">
                  <a>
                    {{menuItem.CategoryName}}
                  </a>
                  <ul>

                    <li *ngFor="let subCategory of menuItem.SubCategory; index as i;">
                      <ng-container *ngFor="let categoryType of subCategory.CategoryTypes; index as i;">
                        <a *ngIf="subCategory.SubCategory==0"
                          routerLink="/product/{{menuItem._id.Category}}/{{subCategory.SubCategory}}/{{categoryType.CategoryType}}">
                          {{categoryType.CategoryTypeName}}
                          
                        </a>
                      </ng-container>
                      <div fxLayout="row" fxLayoutAlign="start center" >
                      <a *ngIf="subCategory.SubCategory!=0" fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                        {{subCategory.SubCategoryName}}
                        
                      </a>
                      <div *ngIf="subCategory.SubCategory!=0" fxLayout="row" fxLayoutAlign="end center">
                        <mat-icon>keyboard_arrow_left</mat-icon>
                      </div>
                    </div>
                      <ul *ngIf="subCategory.SubCategory!=0">
                        <li *ngFor="let categoryType of subCategory.CategoryTypes; index as i;">
                          <a
                            routerLink="/product/{{menuItem._id.Category}}/{{subCategory.SubCategory}}/{{categoryType.CategoryType}}">
                            {{categoryType.CategoryTypeName}}</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>

                <li><a routerLink="/specialOffer">فروش ویژه</a></li>
                <li><a routerLink="/orderTracking">پیگیری سفارش</a></li>

              </ul>
            </nav>
          </div>

        </div>


      </div>
    </div>
  </div>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" #sidenav
      class="example-sidenav" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="/home">
          <div  fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="color: gray;">home</mat-icon>&nbsp;
            صفحه اصلی</div>
        </a>
        <hr>
        <a mat-list-item>
          <div  fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="color: gray;">list</mat-icon>&nbsp;
            لیست محصولات</div>
        </a>
        <ng-container *ngFor="let menuItem of menuItems; index as i;">
          <mat-list-item (click)="menuItem.ShowSubMenu = !menuItem.ShowSubMenu" class="parent">
            <span class="full-width" *ngIf="isExpanded || isShowing">{{menuItem.CategoryName}}</span>
            <mat-icon class="menu-button" [ngClass]="{'rotated' : menuItem.ShowSubMenu}"
              *ngIf="isExpanded || isShowing">
              expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" [ngClass]="{'expanded' : menuItem.ShowSubMenu}" *ngIf="isShowing || isExpanded">
            <ng-container *ngFor="let subCategory of menuItem.SubCategory; index as i;">
              <ng-container *ngFor="let categoryType of subCategory.CategoryTypes; index as i;">
                <a mat-list-item (click)="sidenav.toggle()" *ngIf="subCategory.SubCategory==0"
                  routerLink="/product/{{menuItem._id.Category}}/{{subCategory.SubCategory}}/{{categoryType.CategoryType}}">
                  {{categoryType.CategoryTypeName}}</a>
              </ng-container>

              <mat-list-item (click)="subCategory.ShowSubSubMenu = !subCategory.ShowSubSubMenu"  *ngIf="subCategory.SubCategory!=0" class="parent">
                <span class="full-width" *ngIf="isExpanded || isShowing">{{subCategory.SubCategoryName}}</span>
                <mat-icon class="menu-button" [ngClass]="{'rotated' : subCategory.ShowSubSubMenu}"
                  *ngIf="isExpanded || isShowing">
                  expand_more</mat-icon>
              </mat-list-item>
              <ng-container *ngIf="subCategory.SubCategory!=0">
                <div class="submenu" [ngClass]="{'expanded' : subCategory.ShowSubSubMenu}" *ngIf="isShowing || isExpanded">
                <ng-container *ngFor="let categoryType of subCategory.CategoryTypes; index as i;">
                  <a mat-list-item (click)="sidenav.toggle()"
                    routerLink="/product/{{menuItem._id.Category}}/{{subCategory.SubCategory}}/{{categoryType.CategoryType}}">
                    {{categoryType.CategoryTypeName}}</a>
                </ng-container>
              </div>
              </ng-container>
            </ng-container>
          </div>
        </ng-container>
        <hr>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="/specialOffer">
          <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon style="color: gray;">business</mat-icon>&nbsp;
            فروش ویژه</div>
        </a>
        <hr>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="/orderTracking">
          <div fxLayout="row"  fxLayoutAlign="start center">
            <mat-icon style="color: gray;">assignment</mat-icon>&nbsp;
          پیگیری سفارش</div>
        </a>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content style="overflow: hidden;">
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer fxHide fxShow.gt-xs></app-footer>
  <app-footer fxHide.gt-xs *ngIf="mobileProductViewFooter"></app-footer>
</div>