<app-loading>
</app-loading>

<div *ngIf="showHeader" style="overflow:hidden;">
  <div *ngIf="showMenu" style="background: aliceblue;">
    <div fxHide.gt-xs fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
      style="padding: 10px;background-color: aliceblue;">
      <div fxLayout="row" fxLayoutAlign="start center">

        <div fxLayout="row" fxLayoutAlign="start center">

          <button mat-icon-button (click)="snav.toggle();">
            <mat-icon style="color: gray;font-size: 29px;">menu</mat-icon>
            <div style="font-size: 12px;color: gray;margin-bottom: 10px;">{{userName}}</div>
          </button>

        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">

        <div fxLayout="column" fxLayoutAlign="end start">
          <img [src]="'assets/logo/logo.png'" />
        </div>

      </div>

    </div>

    <div fxHide.gt-xs fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
      style="padding: 10px;background-color: aliceblue;margin-top: 14px;">

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a routerLink="/login">
            <button *ngIf="!currentUser"
              style="background-color: transparent;border:none ;outline: none;cursor: pointer;">
              <div fxLayout="row" fxLayoutAlign="center center">
                <mat-icon style="color: gray;margin-top: 1px;">person_outline</mat-icon>
              </div>
            </button>
          </a>

          <div *ngIf="currentUser" class="dropdown">
            <button id="account" (click)="toggleButton()"
              style=" outline: none; background-color: transparent;border:none;cursor: pointer;">
              <div id="account" fxLayout="row" fxLayoutAlign="center center">
                <mat-icon id="account" style="color: gray;margin-top: 1px;">person_outline</mat-icon>
              </div>
            </button>
            <div [ngClass]="(showDropdownMenu==false)?'dropdown-content':'show'" class="dropdown-content">
              <a routerLink="/profile" style="border-bottom: #80808038 solid thin;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  پروفایل
                  <mat-icon style="color: gray;">person_pin</mat-icon>
                </div>
              </a>
              <a routerLink="/" (click)="logout()">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  خروج
                  <mat-icon style="color: gray;">power_settings_new</mat-icon>
                </div>
              </a>
            </div>
          </div>
          <div (mouseover)="showCart=true" (mouseleave)="cartMouseLeave()">
            <mat-icon style="color: gray;" matBadge="{{cartItems}}" matBadgeColor="warn">
              local_grocery_store</mat-icon>
            <app-cart (OrderEvent) ="onOrder()" *ngIf="showCart && cartItems > 0" style="position: absolute;z-index: 999999999999999;
            margin-top: 24px;
            margin-right: -28px;">

            </app-cart>
          </div>

        </div>
      </div>

    </div>

    <div fxHide fxShow.gt-xs fxLayoutGap="10px" fxLayout="row" fxLayoutAlign="space-between center"
      [ngClass]="{'topMenuRibbonScroll': scrollPosition,'topMenuRibbon': scrollPosition === false }">

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center">

        <div fxLayout="row" fxLayoutAlign="end center">
          <img [src]="'assets/logo/logo.png'" />
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
        <div fxLayout="row" fxLayoutAlign="start center">
          <a routerLink="/login">
            <button *ngIf="!currentUser" style="background-color: transparent;padding: 10px;border-radius: 1px;margin-left: 10px;
          margin-right: 10px;border: solid thin gray;color: gray;outline: none;cursor: pointer;">
              <div fxLayout="row" fxLayoutAlign="center center">
                حساب کاربری
                <mat-icon>person_outline</mat-icon>
              </div>
            </button>
          </a>

          <div *ngIf="currentUser" class="dropdown">
            <button id="account" (click)="toggleButton()" style="background-color: transparent;padding: 10px;border-radius: 1px;margin-left: 10px;
          margin-right: 10px;border: solid thin gray;color: gray;outline: none;cursor: pointer;">
              <div id="account" fxLayout="row" fxLayoutAlign="center center">
                حساب کاربری
                <mat-icon id="account">person_outline</mat-icon>
              </div>
            </button>
            <div [ngClass]="(showDropdownMenu==false)?'dropdown-content':'show'" class="dropdown-content">
              <a href="/profile" style="border-bottom: #80808038 solid thin;">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  پروفایل
                  <mat-icon style="color: gray;">person_pin</mat-icon>
                </div>
              </a>
              <a href="/home" (click)="logout()">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  خروج
                  <mat-icon style="color: gray;">power_settings_new</mat-icon>
                </div>
              </a>
            </div>
          </div>
          <div style="font-size: 30px;padding: 14px; color: gray;">|</div>
          <div (mouseover)="showCart=true" (mouseleave)="cartMouseLeave()" style="width: 30px;height: auto;">
            <mat-icon style="color: gray;direction: ltr;cursor: pointer;width: 40px;
            height: 28px;
            margin-right: -16px;" matBadge="{{cartItems}}" matBadgeColor="warn">
              local_grocery_store
            </mat-icon>
            <app-cart *ngIf="showCart && cartItems > 0" style="position: absolute;z-index: 999999999999999;
            margin-top: 24px;margin-right: -40px;width: 300px;margin-right: -300px;" (OrderEvent) ="onOrder()"></app-cart>
          </div>
        </div>
      </div>

    </div>
    
    <div fxHide fxShow.gt-xs  style="color: gray;margin-right: 14px;height: 20px;">{{userName}}</div>

    <div>
      <div fxHide fxShow.gt-xs style="padding: 10px;background-color: aliceblue;border-top: lightgray solid thin;"
        [ngClass]="{'showMenu': scrollPosition,'topMenu': scrollPosition === false }">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <div fxFlex="50% 0 50%">
            <a routerLink="/home">
              <img [src]="''" style="width: 100%; height: auto;">
            </a>
          </div>
        </div>

        <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxHide.xs>
          <div fxLayout fxLayoutGap="20px">
            <nav id="primary_nav_wrap">
              <ul>
                <li class="current-menu-item"><a routerLink="/home">
                    <div fxLayout="row" fxLayoutAlign="center center">
                      صفحه اصلی
                      <mat-icon style="color: gray;">home</mat-icon>
                    </div>
                  </a></li>
                <li><a href="#">زنانه</a>
                  <ul>
                    <li><a routerLink="/product/1/1/1">کفش</a></li>
                    <li><a routerLink="/product/0/2/2">لباس شب</a></li>
                    <li><a href="#">لباس راحتی</a></li>
                    <!-- <li><a href="#">Sub Menu 4</a>
                      <ul>
                        <li><a href="#">Deep Menu 1</a>
                          <ul>
                            <li><a href="#">Sub Deep 1</a></li>
                            <li><a href="#">Sub Deep 2</a></li>
                            <li><a href="#">Sub Deep 3</a></li>
                            <li><a href="#">Sub Deep 4</a></li>
                          </ul>
                        </li>
                        <li><a href="#">Deep Menu 2</a></li>
                      </ul>
                    </li> -->
                    <!-- <li><a href="#">Sub Menu 5</a></li> -->
                  </ul>
                </li>
                <li><a href="#">مردانه</a>
                  <ul>
                    <li><a href="#">کفش</a></li>
                    <li><a href="#">لباس رسمی</a></li>
                    <li><a href="#">لباس راحتی</a></li>
                  </ul>
                </li>
                <li><a href="#">بچگانه</a>
                  <ul>
                    <li class="dir"><a href="#">Sub Menu 1</a></li>
                    <li class="dir"><a href="#">Sub Menu 2 THIS IS SO LONG IT MIGHT CAUSE AN ISSEUE BUT MAYBE NOT?</a>
                      <ul>
                        <li><a href="#">Category 1</a></li>
                        <li><a href="#">Category 2</a></li>
                        <li><a href="#">Category 3</a></li>
                        <li><a href="#">Category 4</a></li>
                        <li><a href="#">Category 5</a></li>
                      </ul>
                    </li>
                    <li><a href="#">Sub Menu 3</a></li>
                    <li><a href="#">Sub Menu 4</a></li>
                    <li><a href="#">Sub Menu 5</a></li>
                  </ul>
                </li>
                <li><a href="#">فروش ویژه</a></li>
                <!-- <li><a href="#">Menu 5</a></li>
                <li><a href="#">Menu 6</a></li> -->
                <li><a href="#">پیگیری سفارش</a></li>
              </ul>
            </nav>
          </div>

        </div>


      </div>
    </div>
  </div>
  <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 0 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" #sidenav
      class="example-sidenav" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-nav-list>
        <a mat-list-item (click)="sidenav.toggle()" routerLink="/">
          <div translate>Home</div>
        </a>

        <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
          <span class="full-width" *ngIf="isExpanded || isShowing">Nested Menu</span>
          <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">
            expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/register">SubSubmenu Item 1</a>
          <a mat-list-item (click)="sidenav.toggle()" routerLink="/login">SubSubmenu Item 2</a>
        </div>
      </mat-nav-list>

    </mat-sidenav>
    <mat-sidenav-content style="overflow: hidden;">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer></app-footer>
</div>