<div class="ng-autocomplete">
    <app-autocomplete [data]="data" [searchKeyword]="keyword" (selected)='selectEvent($event)'
        (inputChanged)='onChangeSearch($event)' (inputFocused)='onFocused($event)' [itemTemplate]="itemTemplate"
        
        placeHolder="جستجو در هانامُند">
    </app-autocomplete>
    <ng-template #itemTemplate let-item>
        <div class="item">
            <!-- <img src="{{item.ImagePath[0]}}" height="36" style="padding: 5px;"> -->
            <mat-icon style="color: lightgrey;margin-left: 10px;">view_agenda</mat-icon>
            <span [innerHTML]="item.Name"></span> &nbsp;&nbsp;  
            <span style="color: lightsalmon;">{{item.Sepcification}}</span> &nbsp; 
            <small style="color: royalblue;">در دسته {{item.CategoryName}}&nbsp;{{item.SubCategoryName}}&nbsp;{{item.CategoryTypeName}}</small>
        </div>
    </ng-template>

</div>