<div *ngIf="!isDataAvailable">
    <app-loading [strictLoading]="!isDataAvailable">
    </app-loading>
</div>
<div class="topset" *ngIf="isDataAvailable">
    <mat-accordion>
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>list</mat-icon>&nbsp;لیست سفارش های شما
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>

        </mat-expansion-panel>
        <mat-expansion-panel (opened)="expansion(i)" *ngFor="let history of purchasedHistory; index as i;"
            [expanded]="i === 0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div fxLayout="column" fxLayoutAlign="start start" style="color: darkgrey;">
                        <div fxLayout="row" fxLayoutAlign="start start">
                            سفارش با شماره پیگیری : &nbsp;<span style="color: red;">{{history.refId}}</span>
                        </div>
                        <div>
                            در تاریخ:&nbsp; {{history.purchaseDate | jalali}}
                        </div>
                    </div>
                </mat-panel-title>
                <mat-panel-description>
                    
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div fxLayout="column" fxLayoutAlign="start start">
                <div>اقلام خریداری شده</div>
                <div *ngFor="let item of history.purchasedItem; index as i;" fxLayout="column" fxLayoutGap="10px"
                    fxLayoutAlign="start center">
                        <a  fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start" style="text-decoration: none;" routerLink="/productview/{{item.productId}}">
                            <div> &#9679; {{item.name}}</div>
                            <div>تعداد : &nbsp;{{item.count}}</div>
                        </a>
                </div>
            </div>
            <mat-horizontal-stepper style="font-size: 25px;" labelPosition="bottom"
                [selectedIndex]="history.selectedIndex">
                
                <mat-step state="success" [completed]="history.selectedIndex > 0" [editable]="false">
                    <ng-template matStepLabel>ثبت سفارش</ng-template>
                    <div class="stepperContent">
                        سفارش شما با شماره پیگیری تراکنش {{history.refId}} با موفقیت ثبت شد
                    </div>
                </mat-step>
                <mat-step state="sumup" [completed]="history.selectedIndex > 1" [editable]="false">
                    <ng-template matStepLabel>جمع آوری سفارش</ng-template>
                    <div class="stepperContent">
                        سفارش بسته بندی شده و آماده تحویل می باشد
                    </div>
                </mat-step>
                <mat-step state="send" [completed]="history.selectedIndex > 2" [editable]="false">
                    <ng-template matStepLabel>ارسال سفارش</ng-template>
                    <div class="stepperContent">
                        سفارش فرستاده شد
                    </div>
                </mat-step>
                <mat-step state="delivered" [completed]="history.selectedIndex >= 3" [editable]="false">
                    <ng-template matStepLabel>سفارش تحویل شد</ng-template>
                    <div class="stepperContent">
                        سفارش تحویل داده شد
                    </div>
                </mat-step>

                <!-- Icon overrides. -->
                <ng-template matStepperIcon="success">
                    <mat-icon>assignment_turned_in</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="sumup">
                    <mat-icon>business_center</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="send">
                    <mat-icon>rv_hookup</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="delivered">
                    <mat-icon>done_all</mat-icon>
                </ng-template>
            </mat-horizontal-stepper>
        </mat-expansion-panel>
    </mat-accordion>
</div>