::ng-deep .mat-horizontal-stepper-header {
    pointer-events: none !important;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: green;
}

::ng-deep .mat-step-header .mat-step-icon-state-done {
    background-color: green;
}

.stepperContent {
    padding: 20px;
    border: solid thin darkgreen;
    border-radius: 5px;
    background: lightgreen;
    line-height: 25px;
    text-align: justify;
}
