<div  style="background-color: #78ffc4;width: 100vw;">
    <div style="height: 15px;padding: 25px;">
        <div class="text">
            <p>
                پـ
            </p>
            <p>
                ـیـ
            </p>
            <p>
                ـشـ
            </p>
            <p>
                ـنـ
            </p>
            <p>
                ـهـ
            </p>
            <p>
                ـا
            </p>
            <p>
                د
            </p>
            <p>
                هـ
            </p>
            <p>
                ـا
            </p>
            <p>
                ی
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                و
            </p>
            <p>
                یـ
            </p>
            <p>
                ژ
            </p>
            <p>
                ه
            </p>
        </div>
    </div>
    <div style="width: 100vw;">
        <app-product-item [PrdouctPage]="false" [productList]="specialOfferProductList">
        </app-product-item>
    </div>
</div>

<div  style="background-color: #f9d5c9;width: 100vw;">
    <div style="height: 15px;padding: 25px;">
        <div class="text">
            <p>
                تـ
            </p>
            <p>
                ـخـ
            </p>
            <p>
                ـفـ
            </p>
            <p>
                ـیـ
            </p>
            <p>
                ـف
            </p>
            <p>
                هـ
            </p>
            <p>
                ـا
            </p>
            <p>
                ی
            </p>
            <p>
                &nbsp;
            </p>
            <p>
                ا
            </p>
            <p>
                سـ
            </p>
            <p>
                ـتـ
            </p>
            <p>
                ـثـ
            </p>
            <p>
                ـنـ
            </p>
            <p>
                ـا
            </p>
            <p>
                یـ
            </p>
            <p>
                ـی
            </p>
        </div>
    </div>
    <div style="width: 100vw;">
        <app-product-item [PrdouctPage]="false" [productList]="saleProductList">
        </app-product-item>
    </div>
</div>