<div *ngIf="!isDataAvailable">
    <app-loading [strictLoading]="!isDataAvailable">
    </app-loading>
</div>

<div *ngIf="isDataAvailable" class="topset">
    <div fxHide fxShow.gt-xs fxLayout="row" fxLayoutGap="40px" fxLayoutAlign="start start" style="
    margin: 15px;
    min-width: 950px;">
        <div style="width: 70%;">
            <section class="sectionَSelectedAddress" *ngIf="!editAddress">
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
                    <div>
                        <h2>
                            آدرس تحویل سفارش
                        </h2>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" style="font-size:16px" >
                        <mat-icon style="color: gray;margin-top: 8px;transform: scale(1);">store</mat-icon>
                        <div style="color: gray">{{selectedAddress}}</div>
                        
                    </div>
                    <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center" style="font-size:16px">
                        <mat-icon style="color: gray;margin-top: 8px;transform: scale(1);">person_outline</mat-icon>
                        <div style="color: gray">{{selectedAddressDeliverTo}}</div>
                    </div>
                    <a style="color: #7bbcf5;cursor: pointer;" (click)="editAddressView()">
                        تغییر یا ویرایش آدرس >
                    </a>
                </div>
            </section>
            <div *ngIf="editAddress">
                <div style="background-color: greenyellow;padding: 5px;">
                    <div fxLayout="row" fxLayoutGap="2px" fxLayoutAlign="start center">
                        <button style="cursor: pointer;" (click)="saveAddress()">
                            <mat-icon style="cursor: pointer;">save</mat-icon>
                            <div>ذخیره تغییرات آدرس</div>
                        </button>

                        <button style="cursor: pointer;" (click)="cancelAddress()">
                            <mat-icon style="cursor: pointer;">cancel</mat-icon>
                            <div>لغو</div>
                        </button>
                    </div>
                </div>
                <app-address [addressList]="address" (selectAddressChangeEvent)="onAddressChange($event)"></app-address>
            </div>
            <!-- <app-product-item [productList]="productList" [CartPage]="true"  [ConfirmCartView]="true"></app-product-item> -->

        </div>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="font-size: 1.2rem; padding: 5px; border: #e4e4e4 thin solid;background-color: white;border-radius: 4px;width: 30%;min-width: 280px;">
            <div style="width: 85%;padding: 18px;">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-icon style="color: #7bbcf5;">verified_user</mat-icon>
                    &nbsp;گواهی اصالات و سلامت فیزیکی
                </div>
            </div>
            <div style="border-top:#e4e4e4 thin solid ;width: 85%;padding: 18px;">
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
                    &nbsp;موجود در انبار
                </div>
            </div>
            <div style="border-top:#e4e4e4 thin solid ;width: 85%;padding: 18px;" fxLayout="column" fxLayoutGap="10px"
                fxLayoutAlign="end end">
                <div class="discountDecoration">
                    4000
                </div>
                <div class="discount">
                    5%
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                    <h2 style="color: #ef394e;font-size: 30px;">5698000</h2>
                    <h2 style="color: #ef394e;">تومان</h2>
                </div>
            </div>
            <div style="width: 85%;padding: 18px;">
                <button style="width: 100%;
                                background: #ef394e;
                                border: none;
                                color: white;
                                padding: inherit;
                                font-size: 1.2rem;
                                border-radius: 7px;
                                outline: none;
                                cursor: pointer;" (click)="payment()">پرداخت</button>
            </div>
        </div>

    </div>


</div>

<!-- Mobile view -->
<div fxHide.gt-xs fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start" style="margin: 15px;">
    <section class="sectionَSelectedAddress" *ngIf="!editAddress">
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start">
            <div>
                <h2>
                    آدرس تحویل سفارش
                </h2>
            </div>
            <div>
                {{selectedAddress}}
            </div>
            <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
                <mat-icon style="color: gray;margin-top: 8px;transform: scale(1);">person_outline</mat-icon>
                <div style="color: gray">{{selectedAddressDeliverTo}}</div>
            </div>
            <a style="color: #7bbcf5;cursor: pointer;" (click)="editAddressView()">
                تغییر یا ویرایش آدرس >
            </a>
        </div>
    </section>
    <div *ngIf="editAddress">
        <app-address [addressList]="address"></app-address>
    </div>

    <!-- <app-product-item [productList]="productList" [CartPage]="true" [MobileView]="true" [ConfirmCartView]="true"></app-product-item> -->

    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center"
        style="font-size: 1.2rem; padding: 5px; border: #e4e4e4 thin solid;background-color: #f8f6f6;border-radius: 4px;width: 100%;">
        <div style="width: 85%;padding: 18px;">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon style="color: #7bbcf5;">verified_user</mat-icon>
                &nbsp;گواهی اصالات و سلامت فیزیکی
            </div>
        </div>
        <div style="border-top:#e4e4e4 thin solid ;width: 85%;padding: 18px;">
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
                &nbsp;موجود در انبار
            </div>
        </div>
        <div style="border-top:#e4e4e4 thin solid ;width: 85%;padding: 18px;" fxLayout="column" fxLayoutGap="10px"
            fxLayoutAlign="end end">
            <div class="discountDecoration">
                4000
            </div>
            <div class="discount">
                5%
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                <h2 style="color: #ef394e;font-size: 30px;">5698000</h2>
                <h2 style="color: #ef394e;">تومان</h2>
            </div>
        </div>
        <div style="width: 85%;padding: 18px;">
            <button style="width: 100%;
                                background: #ef394e;
                                border: none;
                                color: white;
                                padding: inherit;
                                font-size: 1.2rem;
                                border-radius: 7px;
                                outline: none;
                                cursor: pointer;">پرداخت</button>
        </div>
    </div>

</div>