<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center"
    style="background: #eceff1;height: 60vh;width: 100%;padding: 50px;font-size: 1.4vw">

    <div style="height: 30vh;width: 100%;">
        <div fxLayout="row"  fxLayoutAlign="space-around center">
            <div style="color: #535353;white-space: nowrap">
                <h2>
                    تحویل فوری
                </h2>
                
            </div>

            <div style="color: #535353;white-space: nowrap">
                <h2>
                    پشتیبانی 24 ساعته
                </h2>
                
            </div>

            <div style="color: #535353;white-space: nowrap">
                <h2>
                    پرداخت در محل
                </h2>
                
            </div>

            <div style="color: #535353;white-space: nowrap">
                <h2>
                    ضمانت اصل بودن کالا
                </h2>
                
            </div>
        </div>
    </div>

    <div style="border-top: lightgray solid thin;border-bottom: lightgray solid thin;height: 70vh;width: 100%;">
        <div fxLayout="row" fxLayoutGap="15%" fxLayoutAlign="space-around center">
            <div style="color: #535353;">
                <h2>
                    محصولات
                </h2>
                <div >
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
            </div>

            <div style="color: #535353;">
                <h2>
                    محصولات
                </h2>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
            </div>

            <div style="color: #535353;">
                <h2>
                    محصولات
                </h2>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
            </div>

            <div style="color: #535353;">
                <h2>
                    محصولات
                </h2>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
                <div>
                    تست 1
                </div>
            </div>
        </div>
    </div>

    <div style="height: 20vh;width: 100%;">
        <div fxLayout="row"  fxLayoutAlign="space-around center">
            <div style="color: #535353;">
                هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
                شماره تماس :
                ۶۱۹۳۰۰۰۰ - ۰۲۱
                آدرس ایمیل :
                info@digikala.com
            </div>
        </div>
    </div>
</div>