<div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center"
    style="background: #eceff1;height: 60vh;width: 100%;padding: 50px;font-size: 1rem;white-space: break-spaces;text-align: center;">

    <div style="height: 30vh;width: 100%;">
        <div fxLayout="row"  fxLayoutAlign="space-around center">
            <div style="color: #535353;">
                <mat-icon style="color: gray;font-size: 29px;">flight</mat-icon>
                <div>
                    تحویل فوری
                </div>
                
            </div>

            <div style="color: #535353;">
                <mat-icon style="color: gray;font-size: 29px;">timer</mat-icon>
                <div>
                    پشتیبانی 24 ساعته
                </div>
                
            </div>

            <div style="color: #535353;">
                <mat-icon style="color: gray;font-size: 29px;">store</mat-icon>
                <div>
                    پرداخت در محل
                </div>
                
            </div>

            <div style="color: #535353;">
                <mat-icon style="color: white;font-size: 21px;position: absolute;margin-top: 3px;margin-right: -2px;">check</mat-icon>
                <mat-icon style="color: gray;font-size: 29px;">shield</mat-icon>
                <div>
                    ضمانت اصل بودن کالا
                </div>
                
            </div>
        </div>
    </div>

    <div style="border-top: lightgray solid thin;border-bottom: lightgray solid thin;height: 70vh;width: 100%;">
        <div fxLayout="row" fxLayoutGap="15%" fxLayoutAlign="space-around center">
            <div style="color: #535353;">
                <!-- <h4>

                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/home">هانامند</a>
                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/profile">حساب کاربری</a>
                </h4>
                <h4>
                    <a routerLink="">پیشنهادهای ویژه</a>
                </h4>
                <h4>
                    <a routerLink="">تخفیف های ویژه</a>
                </h4> -->

            </div>

            <div style="color: #535353;">
                <!-- <h4>

                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/home">هانامند</a>
                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/profile">حساب کاربری</a>
                </h4>
                <h4>
                    <a routerLink="">پیشنهادهای ویژه</a>
                </h4>
                <h4>
                    <a routerLink="">تخفیف های ویژه</a>
                </h4> -->
                
                <div >
                    <img [src]="'assets/logo/logo.png'" />
                </div>
                <h4>
                    Info@hanamond.ir
                </h4>
            </div>

            <div style="color: #535353;white-space: nowrap;">
                <h4>

                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/home">هانامند</a>
                </h4>
                <h4>
                    <a routerLink="">پیشنهادهای ویژه</a>
                </h4>
                <h4>
                    <a routerLink="">تخفیف های ویژه</a>
                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/profile">حساب کاربری</a>
                </h4>
            </div>

            <div style="color: #535353;">
                <!-- <h4>

                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/home">هانامند</a>
                </h4>
                <h4 style="cursor: pointer;">
                    <a routerLink="/profile">حساب کاربری</a>
                </h4>
                <h4>
                    <a routerLink="">پیشنهادهای ویژه</a>
                </h4>
                <h4>
                    <a routerLink="">تخفیف های ویژه</a>
                </h4> -->
            </div>
        </div>
    </div>

    <div style="height: 20vh;width: 100%;">
        <div fxLayout="row"  fxLayoutAlign="space-around center">
            <div style="color: #535353;">
                هفت روز هفته ، ۲۴ ساعت شبانه‌روز پاسخگوی شما هستیم
            </div>
        </div>
    </div>
</div>