<div *ngIf="!isDataAvailable">
    <app-loading [strictLoading]="!isDataAvailable">
    </app-loading>
</div>
<div class="topset" *ngIf="isDataAvailable">
    <app-navigation-bar [product]="product" [productView]="true"></app-navigation-bar>

    <div fxHide fxShow.gt-xs fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" style="background: white;
    border: thin solid #e8e4e4;
    padding: 5px;
    min-width: 950px;">
        <app-product-view-image [imagePaths]="imagePaths" style="width: 33%;"></app-product-view-image>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start" style="width: 33%;">
            <section class="fieldset">
                <h1>{{product.Name}}</h1>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start" style="width: 100%;">
                    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start"
                        style="font-size: 18px; padding: 5px;width: 70%;">
                        <div>
                            {{product.Sepcification}}
                        </div>
                        <div *ngIf="product.Quantity > 0" fxLayout="row" fxLayoutGap="10px"
                            fxLayoutAlign="start center">
                            <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
                            &nbsp;موجود در انبار
                        </div>
                        <div *ngIf="product.Quantity <= 0" fxLayout="row" fxLayoutGap="10px"
                            fxLayoutAlign="start center">
                            <mat-icon style="color: #f82c25;">check_box_outline_blank</mat-icon>
                            &nbsp;ناموجود
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start" style="font-size: 16px;">
                            دسته بندی :&nbsp;
                            <a style="text-decoration: none;display: inherit;"
                                routerLink="/product/{{product.Category}}/{{product.SubCategory}}/{{product.CategoryType}}">
                                <div fxLayout="row" fxLayoutAlign="start center">
                                    {{product.CategoryName}}
                                    <div *ngIf="product.SubCategoryName != ''" fxLayout="row"
                                        fxLayoutAlign="start center">
                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                        {{product.SubCategoryName}}
                                    </div>
                                    <mat-icon>keyboard_arrow_left</mat-icon>
                                    {{product.CategoryTypeName}}
                                </div>
                            </a>
                        </div>
                        <div style="direction: ltr;">
                            <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
                        </div>

                        <div *ngIf="product.Size && product.Size.length > 0" fxLayout="row" fxLayoutAlign="start center"
                            style="font-size: 14px; border: none ; background: white;border: whitesmoke thin solid;color: #807e7e; height: 50px;margin-bottom: -14px;">
                            سایزها : &nbsp;
                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                (change)="onSizeValChange(group.value)">
                                <ng-container *ngFor="let size of product.Size; index as i;">
                                    <mat-button-toggle *ngIf="size.sizeName" value="{{size.size}}">
                                        {{size.sizeName}}
                                    </mat-button-toggle>
                                </ng-container>
                            </mat-button-toggle-group>
                        </div>

                        <div>برند : &nbsp;{{product.BrandName}}</div>
                        <div fxLayout="column" fxLayoutAlign="start center" style="font-size: 14px;">
                            <div>ویژگی های محصول</div>
                            <ng-container *ngIf="product.AdditinalInfos">
                                <ul style="font-size: 14px;padding: 0px;list-style-position: inside;
                                list-style-type: arabic-indic;">
                                    <li *ngFor="let addInfo of product.AdditinalInfos; index as i;">
                                        {{addInfo.key}}&nbsp;:&nbsp;{{addInfo.value}}
                                    </li>
                                </ul>
                            </ng-container>
                        </div>


                    </div>


                </div>
            </section>


        </div>
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="font-size: 1.2rem; padding: 5px; border: #e4e4e4 thin solid;background-color: #f5f5f5;border-radius: 4px;width: 30%;min-width: 280px;">

            <div style="width: 85%;padding: 18px;" fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
                <div *ngIf="selectSize">
                    <div style="color: red;">
                        لطفا سایز را انتخاب کنید !
                    </div>
                </div>
                <div *ngIf="product.SpecialOffer">
                    <div class="discount">
                        فروش ویژه
                    </div>
                </div>
                <div *ngIf="product.Sale">
                    <div class="discountDecoration">
                        {{product.DiscountPrice}}
                    </div>
                    <div class="discount">
                        {{product.DiscountPercent}}%
                    </div>
                </div>
                <div *ngIf="!product.Sale">
                    <div class="discountDecoration">
                        &nbsp;
                    </div>
                    <div class="discount" style="background-color: transparent;">
                        &nbsp;
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                    <h2 style="color: #ef394e;">قیمت</h2>
                    <h2 style="color: #ef394e;font-size: 30px;">{{product.Price | number}}</h2>
                    <h2 style="color: #ef394e;">تومان</h2>
                </div>
            </div>
            <div (click)="addToCart(product)" style="width: 85%;padding: 18px;">
                <button
                    [ngClass]="{'buyButt': product.isProductAvailable === true,'buyButtDisable':product.isProductAvailable===false}">افزودن
                    به سبد خرید</button>
            </div>
        </div>

           
    </div>
    <div fxHide fxShow.gt-xs>
        <mat-tab-group mat-align-tabs="start">
            <mat-tab label="توضیحات">
                <div style="margin: 10px;padding: 10px;border: lightgray solid thin;background-color: white;font-size: 16px;">
                    برای نی نی شما عالیه این محصول
                </div>
            </mat-tab>
            <mat-tab label="نظرات">
                <app-comment></app-comment>
            </mat-tab>
          </mat-tab-group>
    </div> 

    <!-- mobile view -->
    <div *ngIf="isDataAvailable" fxHide.gt-xs>

        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start"
            style="width: 100%;margin-top: 10px;margin-bottom: 90px;">

            <section class="fieldset" style="height: 100%;">
                <h1>{{product.Name}}</h1>
                <app-product-view-image [imagePaths]="imagePaths"></app-product-view-image>
                <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start" style="width: 100%;">
                    <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start"
                        style="font-size: 18px; padding: 5px;width: 100%;">
                        <div>
                            {{product.Sepcification}}
                        </div>
                        <div *ngIf="product.Size && product.Size.length > 0" fxLayout="row" fxLayoutAlign="start center"
                            style="font-size: 14px; border: none; background: white;border: whitesmoke thin solid;color: #807e7e; height: 50px;margin-bottom: -14px;">
                            سایزها : &nbsp;
                            <mat-button-toggle-group #group="matButtonToggleGroup"
                                (change)="onSizeValChange(group.value)">
                                <ng-container *ngFor="let size of product.Size; index as i;">
                                    <mat-button-toggle *ngIf="size.sizeName" value="{{size.size}}">
                                        {{size.sizeName}}
                                    </mat-button-toggle>
                                </ng-container>
                            </mat-button-toggle-group>
                        </div>
                        <div style="direction: ltr;">
                            <bar-rating [theme]="'default'" [rate]="4.1" [max]="5"></bar-rating>
                        </div>

                        <div fxLayout="column" fxLayoutAlign="start center"
                            style="font-size: 0.9rem; padding: 5px; border: #e4e4e4 thin solid;background-color: #f5f5f5;border-radius: 4px;width: 100%;min-width: 280px;">
                            <div style="width: 85%;padding: 10px;">
                                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
                                    <mat-icon style="color: #7bbcf5;">verified_user</mat-icon>
                                    &nbsp;ضمانت اصالات و سلامت فیزیکی
                                </div>
                            </div>
                            <div style="border-top:#e4e4e4 thin solid ;width: 85%;padding: 10px;">
                                <div *ngIf="product.Quantity > 0" fxLayout="row" fxLayoutGap="10px"
                                    fxLayoutAlign="start center">
                                    <mat-icon style="color: #7bbcf5;">check_box</mat-icon>
                                    &nbsp;موجود در انبار
                                </div>
                                <div *ngIf="product.Quantity <= 0" fxLayout="row" fxLayoutGap="10px"
                                    fxLayoutAlign="start center">
                                    <mat-icon style="color: #f82c25;">check_box_outline_blank</mat-icon>
                                    &nbsp;ناموجود
                                </div>
                            </div>
                            <div style="border-top:#e4e4e4 thin solid ;width: 85%;padding: 18px;" fxLayout="column"
                                fxLayoutGap="10px" fxLayoutAlign="center center">

                                <div *ngIf="product.SpecialOffer">
                                    <div class="discount">
                                        فروش ویژه
                                    </div>
                                </div>
                                <div *ngIf="product.Sale">
                                    <div class="discountDecoration">
                                        {{product.DiscountPrice}}
                                    </div>
                                    <div class="discount">
                                        {{product.DiscountPercent}}%
                                    </div>
                                </div>
                                <div *ngIf="!product.Sale">
                                    <div class="discountDecoration">
                                    </div>
                                    <div class="discount" style="background-color: transparent;">
                                    </div>
                                </div>
                                <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
                                    <h2 style="color: #ef394e;font-size: 30px;">{{product.Price | number}}</h2>
                                    <h2 style="color: #ef394e;">تومان</h2>
                                </div>
                            </div>
                        </div>

                        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start start" style="font-size: 14px;">
                            <div>برند : &nbsp;{{product.BrandName}}</div>
                            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start start" style="font-size: 16px;">
                                دسته بندی :&nbsp;
                                <a style="text-decoration: none;display: inherit;"
                                    routerLink="/product/{{product.Category}}/{{product.SubCategory}}/{{product.CategoryType}}">
                                    <div fxLayout="row" fxLayoutAlign="start center">
                                        {{product.CategoryName}}
                                        <div *ngIf="product.SubCategoryName != ''" fxLayout="row"
                                            fxLayoutAlign="start center">
                                            <mat-icon>keyboard_arrow_left</mat-icon>
                                            {{product.SubCategoryName}}
                                        </div>
                                        <mat-icon>keyboard_arrow_left</mat-icon>
                                        {{product.CategoryTypeName}}
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start center" style="font-size: 14px;">
                            <div>ویژگی های محصول</div>
                            <ng-container *ngIf="product.AdditinalInfos">
                                <ul style="font-size: 14px;padding: 0px;list-style-position: inside;
                                list-style-type: arabic-indic;">
                                    <li *ngFor="let addInfo of product.AdditinalInfos; index as i;">
                                        {{addInfo.key}}&nbsp;:&nbsp;{{addInfo.value}}
                                    </li>
                                </ul>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div>
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab label="توضیحات">Content 1</mat-tab>
                        <mat-tab label="نظرات">
                            <app-comment></app-comment>
                        </mat-tab>
                      </mat-tab-group>
                </div>
            </section>
        </div>
        
        <div fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="start center"
            style="z-index: 1; bottom: 0;position: fixed; margin: -12px;font-size: 1.2rem; padding: 5px; border: #e4e4e4 thin solid;background-color: #f5f5f5;border-radius: 4px;width: 100%;min-width: 280px;">
            <div *ngIf="selectSize">
                <div style="color: red;">
                    لطفا سایز را انتخاب کنید !
                </div>
            </div>
            <div (click)="addToCart(product)" style="width: 85%;padding: 18px;">
                <button
                    [ngClass]="{'buyButt': product.isProductAvailable === true,'buyButtDisable':product.isProductAvailable===false}">افزودن
                    به سبد خرید</button>
            </div>
        </div>
    </div>
    
</div>