<div fxLayout="column" fxLayoutAlign="center center" style="height: 100vh;direction: ltr;">
    <div fxLayout="column" fxLayoutAlign="start center" class="container">
        <div>
            <img [src]="'assets/logo/logo.png'" />
        </div>
        
        <div fxLayout="row" fxLayoutAlign="start center" style="font-size: 18px;">
            فراموشی رمز عبور
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="font-size: 18px;">
            (ارسال به ایمیل)
        </div>
        <div fxLayout="row" fxLayoutAlign="start center" style="color: red;">
            {{errorObject.Message}}
        </div>
        <br/>
        <form [formGroup]="form" (ngSubmit)="reset()">
            <div>
                <mat-form-field style="text-align: left">
                    <mat-label>نام کاربری (E-Mail)</mat-label>
                    <input type="text"  matInput placeholder="مثال sample@gmail.com"  formControlName="username" autocomplete="off" autofocus >
                </mat-form-field>
            </div>

            <br/>
            <div>
                <button class="button" type="submit" mat-button>بازیابی رمز عبور</button>
            </div>

        </form>

    </div>
</div>