<div style="width: 100vw;display: flex;">
    <div class="topset">
        <owl-carousel-o [options]="customOptions">
            <ng-container>
                <ng-template carouselSlide [width]="innerWidth">
                    <div [style.height.px]="300" style="display: block; width: 100%;background-color: orangered;"
                        fxLayout="column" fxLayoutAlign="center center">
                        <app-carousel-first></app-carousel-first>
                    </div>

                </ng-template>
            </ng-container>

            <ng-container>
                <ng-template carouselSlide [width]="innerWidth">

                    <div [style.height.px]="300" style="display: block; width: 100%;background-color: royalblue;"
                        fxLayout="column" fxLayoutAlign="center center">
                        <app-carousel-second></app-carousel-second>

                    </div>
                </ng-template>
            </ng-container>
        </owl-carousel-o>
    </div>
    <div class="leftBanner">
        <app-carousel-second></app-carousel-second>
    </div>
</div>