<div fxHide fxShow.gt-xs fxLayout="column"  fxLayoutGap="10px" fxLayoutAlign="space-around start" style="padding: 5px;width: 33vw;">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <pinch-zoom backgroundColor="transparent">
            <img [src]="'assets/carousel-1bg.png'" />
        </pinch-zoom>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center" >
        <div style="width: 75px;height: 75px; border: lightgray solid thin;border-radius: 3px;">

        </div>
        <div style="width: 75px;height: 75px; border: lightgray solid thin;border-radius: 3px;">

        </div>
    </div>
</div>

<!-- mobile view -->
<div fxHide.gt-xs fxLayout="column"  fxLayoutGap="10px" fxLayoutAlign="center center" >
    <div fxLayout="row" fxLayoutAlign="center center">
        <pinch-zoom backgroundColor="transparent">
            <img [src]="'assets/carousel-1bg.png'" style="width: 250px;height: 250px;" />
        </pinch-zoom>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center" >
        <div style="width: 50px;height: 50px; border: lightgray solid thin;">

        </div>
        <div style="width: 50px;height: 50px; border: lightgray solid thin;">

        </div>
    </div>
</div>