<div fxHide fxShow.gt-xs fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center start" 
style="padding: 30px; border-left: thin solid whitesmoke;">
    <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
        <pinch-zoom backgroundColor="transparent">
            <img [src]="selectedImage" width="360" height="310" alt="{{altDesc}}"/>
        </pinch-zoom>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around end">
        <div (click)="changeSelectedImage(i)" *ngFor="let path of imagePaths; index as i;" style="width: 75px;
        height: 75px; 
        min-width: 75px;
        border: lightgray solid thin;
        border-radius: 3px;
            background-image: url({{path}});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;">
        </div>

    </div>
</div>

<!-- mobile view -->
<div fxHide.gt-xs fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
    <div fxLayout="row" fxLayoutAlign="center center">
        <pinch-zoom backgroundColor="transparent">
            <img [src]="selectedImage" style="width: 100%;" alt="{{altDesc}}"/>
        </pinch-zoom>
    </div>
    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="space-around center">
        <div (click)="changeSelectedImage(i)" *ngFor="let path of imagePaths; index as i;" style="width: 50px;
        height: 50px; 
        min-width: 50px;
        border: lightgray solid thin;
        border-radius: 3px;
            background-image: url({{path}});
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;">
        </div>
    </div>
</div>